
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecd1d1;
}


header {
    background-color: #312d2d;
    color: #ebdada;
    padding: 1em 0;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#products h3 {
    margin-top: 0;
}

#products img {
    display: block;
    margin-bottom: 10px;
}

.button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #218838;
}

